*,
*::before,
*::after {
    box-sizing: border-box;

}



.header {
    border: 1px solid red;
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 20px;

}

h1 {
    /* justify-content: center; */
    display: flex;
    flex: 1 1 80%;
    justify-content: center;
}

.button-container {
    display: flex;
    flex: 1 1 20%;
    justify-content: center;
    gap: 60px;
}

button {
    padding: 30px;
}